extends layout


block content
      .jumbotron
         .container
              h1 Pompie the great
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum et ante consectetur tristique. Morbi in pretium orci. Etiam dapibus risus at elit rhoncus, et tincidunt neque aliquam. Proin euismod magna ut hendrerit ultrices. Nullam dapibus, dui at convallis varius, dolor sapien efficitur elit, luctus ullamcorper tellus velit sit amet erat. Curabitur sed nibh interdum, dapibus lacus non, vestibulum eros. Donec vel tempor nulla. Aenean neque quam, fringilla quis malesuada quis, commodo id eros. Ut maximus feugiat augue sed posuere. Donec pretium lorem eu metus consectetur finibus. Curabitur blandit, est ac dignissim efficitur, odio orci tincidunt velit, vitae varius risus libero eget odio. Vestibulum aliquam, risus id fringilla tincidunt, nulla massa vehicula urna, ut vulputate urna justo vel elit. Donec mi ex, dapibus varius ex pharetra, porta hendrerit mi. Vestibulum hendrerit sem in porta elementum. Phasellus ullamcorper posuere mi, in imperdiet purus lobortis eget. Interdum et malesuada fames ac ante ipsum primis in faucibus.